/*common */
html {
	height: 100%;
}
body {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	background: #e9ecef;
}
a {
    color: inherit;
    text-decoration: underline;
}
a:hover {
    color: inherit;
    text-decoration: none;
}

/*header */
header {
	height: 150px;
	background: #9ec5fe;
	flex: none;
}
header p {
	color: #fff;
	font-size: 2em;
	padding: 50px 0;
	margin: 0;
}

/* footer */
footer {
	background: #343a40;
	flex: none;
}
footer p {
	color: #fff;
	padding: 50px 0;
	margin: 0;
}

/* main */
main {
	flex: auto;
	display: flex;
	align-items: stretch;
}
.mainmenu {
	float: left;
	width: 200px;
}
.list-group {
    margin-bottom: 1em;
}
.content {
	margin-left: calc(200px + 2em);
}
.island {
	background: #fff;
	border-radius: 1em;
	border: 1px solid #fff;
	margin: 1em 0;
	padding: 1em;
}
.island > :last-child {
    margin: 0;
}
.theme {
    float: right;
    background: #146c43;
    color: #fff;
    border-radius: 1em;
    padding: 0.25em 2em;
    margin: 0 0 1em 1em;
    text-transform: uppercase;
    font-weight: bold;
}
.heading {
    font-size: 2em;
    margin: 0 0.5em 0.5em 0;
    font-weight: bold;
    color: #495057;
}
.pubdate {
    float: right;
    color: #6610f2;
    margin: 0 0 1em 1em;
}
.author {
    float: left;
    color: #dc3545;
    font-weight: bold;
    margin: 0 1em 1em 0;
}
.lock {
    overflow: hidden;
}
.text {
    color: #212529;
}

@media screen and (max-width: 767px) {
    .theme, .pubdate {
        float: none;
        margin-left: 0;
        display: inline-block;
    }
    .heading, .author {
        float: none;
        margin-right: 0;
    }
}



