{% extends 'base.html' %}

{% block content %}

            <div class="update_comment">
            <form method="POST" action="" enctype="multipart/form-data">

                {{ form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-6">Обновите свой комментарий</legend>
                    <div class="form-group">
                        {{ form.body.label(class="form-control-label") }}

                        {% if form.body.errors %}
                        {{ form.body(class="form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for errors in form.body.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.body(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>


                </fieldset>
            <br>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}

                
                </div>

                
            </form>
            </div>
           
{% endblock %}