{% extends 'base.html' %}

{% block content %}
    {% for post in postlist %}
        <div class="island">
            <div class="theme">{{ post.category }}</div>
            <div class="heading">
               <a class="modal-header" href="/{{ post.id }}">{{ post.header }}</a>
            </div>
            <div class="pubdate">{{ post.created_at.ctime() }}</div>
{#            <div class="pubdate">{{post.created_at.replace(microsecond=0)}}</div>#}
            <div class="author">{{ post.users.username }}</div>
            <div class="description">{{ post.description }}</div>
        </div>
    {% endfor %}
{% endblock %}