{% extends 'base.html' %}
{% from 'macros/form.html' import render_field %}

{% block title %}Login page{% endblock %}

{% block content %}
<h1>Log in</h1>
    {% if error %}
        <div class="alert alert-danger">
            {{ error }}
        </div>
    {% endif %}
<div>
    <form method="post">
        {{ form.csrf_token }}
        {% for field in ['email', 'password'] %}
            {{ render_field(form[field]) }}
        {% endfor%}
        <!--button type="submit" class="btn btn-primary">Login</button-->
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}