{% extends 'base.html' %}
{% from 'macros/form.html' import render_field %}

{% block title %}Login page{% endblock %}

{% block content %}
    <div class="island">
        <div class="heading">Log in</div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="post">
            {{ form.csrf_token }}

            {% for field in ['email', 'password'] %}
                {{ render_field(form[field]) }}
            {% endfor%}

            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}