<div class="island mainmenu">
    <nav class="list-group">
        <a class="list-group-item{% if menu == 'main' %} active{% endif %}" href="/">Главная</a>
        <a class="list-group-item{% if menu == 'design' %} active{% endif %}" href="/theme/design/">Дизайн</a>
        <a class="list-group-item{% if menu == 'web' %} active{% endif %}" href="/theme/web/">Веб-разработка</a>
        <a class="list-group-item{% if menu == 'mobile' %} active{% endif %}" href="/theme/mobile/">Мобильная разработка</a>
        <a class="list-group-item{% if menu == 'marketing' %} active{% endif %}" href="/theme/marketing/">Маркетинг</a>
        <hr>
        <a class="list-group-item{% if menu == 'account' %} active{% endif %}" href="/profile/1/">Личный кабинет</a>
{#        <a class="list-group-item{% if menu == 'account' %} active{% endif %}" href="/profile/{{ user.id }}/">Личный кабинет</a>#}
    </nav>
</div>